<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>在线进制转换</title>
    <!--javascript下的进制转换非常方便，系统已经提供内置方法，提供2～36进制间的转型。直接提供表示的有8进制、10进制、16进制。


var w=function(s){document.write('<br>'+s)};

//十进制转其他
var x=110;
w(x);
w(x.toString(8));
w(x.toString(32));
w(x.toString(16));

//其他转十进制
var x='110';
w(parseInt(x,2));
w(parseInt(x,8));
w(parseInt(x,16));

//其他转其他
//先用parseInt转成十进制再用toString转到目标进制 -->
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>在线进制转换</h2>
    <small><i>支持在2~36进制之间进行任意转换，支持浮点型</i></small>
    <hr>
    <form>
        <div class="form-group row pl-3">
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="sourceRadix" id="sourceRadix1" value="2">
                <label class="form-check-label" for="sourceRadix1">2进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="sourceRadix" id="sourceRadix2" value="4">
                <label class="form-check-label" for="sourceRadix2">4进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="sourceRadix" id="sourceRadix3" value="8">
                <label class="form-check-label" for="sourceRadix3">8进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="sourceRadix" id="sourceRadix4" value="10" checked>
                <label class="form-check-label" for="sourceRadix4">10进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="sourceRadix" id="sourceRadix5" value="16">
                <label class="form-check-label" for="sourceRadix5">16进制</label>
            </div>
            <div class="form-row col-sm-4">
                <label class="col-form-label col-sm-3">进制选择</label>
                <select class="form-control-sm col-sm-3 mt-1">
                    <option th:each="i : ${#numbers.sequence(2,32)}" th:text="${i + '进制'}" th:selected="${i == 10}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group input-group-sm col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text">输入数字</span>
                </div>
                <input type="text" class="form-control" id="inputNumber" placeholder="请输入待转换的数字">
            </div>
        </div>
        <div class="form-group row pl-3">
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="targetRadix" id="targetRadix1" value="2">
                <label class="form-check-label" for="targetRadix1">2进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="targetRadix" id="targetRadix2" value="4">
                <label class="form-check-label" for="targetRadix2">4进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="targetRadix" id="targetRadix3" value="8">
                <label class="form-check-label" for="targetRadix3">8进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="targetRadix" id="targetRadix4" value="10">
                <label class="form-check-label" for="targetRadix4">10进制</label>
            </div>
            <div class="form-check form-check-inline col-sm-1">
                <input class="form-check-input" type="radio" name="targetRadix" id="targetRadix5" value="16" checked>
                <label class="form-check-label" for="targetRadix5">16进制</label>
            </div>
            <div class="form-row col-sm-4">
                <label class="col-form-label col-sm-3">进制选择</label>
                <select class="form-control-sm col-sm-3 mt-1">
                    <option th:each="i : ${#numbers.sequence(2,32)}" th:text="${i + '进制'}" th:selected="${i == 16}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group input-group-sm col-sm-8">
                <div class="input-group-prepend">
                    <span class="input-group-text">转换结果</span>
                </div>
                <input type="text" class="form-control" id="resultNumber" placeholder="转换结果">
            </div>
        </div>
    </form>
</div>
</body>
</html>