<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我要加密</title>
    <style>
        ul {
            list-style-type: none;
        }

        .text-lg {
            width: 300px;
        }

        form > button {
            position: relative;
            left: 260px;
            top: 20px;
        }

        form li {
            background-color: greenyellow;
            cursor: pointer;
        }

        form select {
            text-align: center;
            width: 40px;
            height: 22px;
        }
    </style>
    <script>
        $(function () {
            $('form ul li').click(function () {
                $(this).children(':radio').prop("checked", true);
            })
        })
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="t-space"></div>
    <h2>我要加密</h2>
    <hr>
    <div>
        <form th:action="@{/encrypSub}" method="post">
            <div>
                加密内容：<input name="encryp_content" th:class="text-lg" th:value="${encryp_content}" required>
                盐加密：
                <select name="is_salt">
                    <option value="0" th:selected="${is_salt == 0}">否</option>
                    <option value="1" th:selected="${is_salt == 1}">是</option>
                </select>
            </div>
            <div>
                加密方法：
                <ul>
                    <li>
                        <input name="encryp_method" type="radio" value="md5" th:checked="${encryp_method == 'md5'}"> md5
                    </li>
                    <li>
                        <input name="encryp_method" type="radio" value="sha1" th:checked="${encryp_method == 'sha1'}">
                        sha1
                    </li>
                    <li>
                        <input name="encryp_method" type="radio" value="sha2" th:checked="${encryp_method == 'sha2'}">
                        sha256
                    </li>
                </ul>
            </div>
            <div>
                <h3>加密结果</h3>
                <div th:if="${encryp_method == 'md5' && result != null}">
                    <dl>
                        <dt>32位小写：</dt>
                        <dd th:text="${result == null ? '' : result.thirtytwobit}"></dd>
                    </dl>
                    <dl>
                        <dt>32位大写：</dt>
                        <dd th:text="${result == null ? '' : result.thirtytwobitupcase}"></dd>
                    </dl>
                    <dl>
                        <dt>16位小写：</dt>
                        <dd th:text="${result == null ? '' : result.sixteenbit}"></dd>
                    </dl>
                    <dl>
                        <dt>16位小写：</dt>
                        <dd th:text="${result == null ? '' : result.sixteenbitupcase}"></dd>
                    </dl>
                </div>
                <div th:if="${encryp_method == 'sha1' || encryp_method == 'sha2'}">
                    <p th:text="${result == null ? '' : result}"></p>
                </div>
            </div>
            <button>确定</button>
        </form>
    </div>
</div>
</body>
</html>