<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/liymeleaf/layout"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widli=device-widli, initial-scale=1">
    <link rel="apple-touch-icon" href="https://www.wannacorn.com/static/img/icon/icon_logo48.ico?v=20180720">
    <link rel="shortcut icon" href="https://www.wannacorn.com/static/img/icon/icon_logo48.ico?v=20180720">
    <link rel="icon" href="https://www.wannacorn.com/static/img/icon/icon_logo48.ico?v=20180720">
    <title>WorldCup2018</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/L2Dwidget.0.min.js(v=3)}"></script>
    <script th:src="@{/static/js/L2Dwidget.min.js(v=3)}"></script>
    <style>
        body {
            width: 100%;
            min-width: 1000px;
            background-color: #f3f3f3;
        }
    </style>
    <script>
        $(function () {
            //页面加载滚动条监听
            if ($(window).scrollTop() > 100) {
                $("#backTop").show();
            } else {
                $("#backTop").hide();
            }
            //滚动条监听
            $(window).scroll(function () {
                if ($(window).scrollTop() > 100) {
                    $("#backTop").show();
                } else {
                    $("#backTop").hide();
                }
            });

            //当点击跳转链接后，回到页面顶部位置
            $("#backTop").click(function () {
                if ($('html').scrollTop()) {
                    $('html').animate({scrollTop: 0}, 500);
                    return false;
                }
                $('body').animate({scrollTop: 0}, 500);
                return false;
            });
            //right cute girl
            L2Dwidget.init({
                "model": {"scale": 1, "hHeadPos": 0.5, "vHeadPos": 0.618},
                "display": {
                    "superSample": 2,
                    "width": 90,
                    "height": 200,
                    "bottom": 20,
                    "position": "right",
                    "hOffset": 0,
                    "vOffset": -20,
                    "border": false
                },
                "mobile": {"show": true, "scale": 0.1},
                "react": {"opacityDefault": 0.7, "opacityOnHover": 0.2},
                "pluginRootPath": "live2dw/"

            });
        })
    </script>
</head>
<body>
<div th:replace="fragments/navigator :: navigator"></div>
<div layout:fragment="content" class="clearfix" style="margin-top: 3.55rem"></div>
<button id="backTop" class="btn btn-outline-primary btn-sm position-fixed" style="right: 12rem;bottom: 2rem">返回顶部</button>
<!--cute girl-->
<div id="live2d-widget" style="border: none">
    <canvas id="live2dcanvas"></canvas>
</div>
<!--<a href="https://www.vultr.com/?ref=7383749"><img src="https://www.vultr.com/media/banner_4.png" width="160" height="600"></a>-->
<footer class="clearfix">
    <hr>
    <div class="text-center">&copy; 2018 - 2019 WannaCorn</div>
</footer>
</body>
</html>