<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>出错啦~！</title>
    <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8"
            homePageUrl="https://www.wannacorn.com" homePageName="回到我的主页"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>这里或曾是个页面，如今便不是了。</h2>
    <hr>
    <p>404 - Page not found.</p>
</div>
</body>
</html>