<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>我要翻墙</title>
    <script>
        $(function () {
            $('#myCodeButton').click(function () {
                $.get("/breakwall/myCode", myCodeButtonCallback);
            });

            function myCodeButtonCallback(data) {
                $('#resultMsg').text(data);
                $('#resultMsg').removeClass("d-none");

            }

        });
        //验证邀请码 (通过回调触发提交表单隐藏按钮，既可以触发表单验证，也可以校验验证码，还可以防止get请求跳转直接暴露getInfo页面)
        function verifyCode() {
            $.get("/breakwall/verifyCode", {investCode:$('#investCode').val()}, function (data) {
                if (data == "") {
                    $('#subButton').click();
                } else {
                    $('#message').text(data);
                }
            });
        }

    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div>
        <form action="/breakwall/getInfo" method="post">
            <div class="form-group">
                <h4>邀请码</h4>
                <strong class="text-danger"
                        id="message"></strong>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <input class="form-control" id="investCode" name="investCode" maxlength="16" minlength="16"
                           placeholder="请输入16位邀请码" required>
                    <div id="resultMsg" class="alert alert-success mt-1 d-none" role="alert"></div>
                </div>
                <div class="form-group col-md-2">
                    <button type="button" id="myCodeButton" class="btn btn-outline-info">
                        我的邀请码
                    </button>
                </div>
            </div>
            <button id="subButton" class="d-none"></button>
            <button type="button" onclick="verifyCode()" class="btn btn-primary">确定</button>
        </form>
    </div>
</div>
</body>
</html>