<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>验证成功</title>
    <style>
        table td {
            word-break: break-all;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">

    <h3>下载最新版本SSR</h3>
    <hr>
    <ul>
        <li>Windows: <a href="https://www.wannacorn.com/static/app/ssr/ssr-win.7z">ssr-win.7z</a></li>
        <li>Andriod: <a href="https://www.wannacorn.com/static/app/ssr/ssr-android.apk">ssr-android.apk</a></li>
        <li>IOS: <a href="https://www.wannacorn.com/static/app/ssr/ssr-mac.dmg">ssr-mac.dmg</a></li>
    </ul>
    <div>
        <h3>节点列表</h3>
        <hr>
        <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>节点名称</th>
                    <th>SSR地址</th>
                    <th>SSR二维码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>日本东京</th>
                    <td class="w-50 text-left">
                        ssr://NDUuNzcuMTEuOTc6NTIwMTM6YXV0aF9jaGFpbl9hOm5vbmU6cGxhaW46ZDJGdWJtRmpiM0p1TG1OdmJRLz9vYmZzcGFyYW09JnJlbWFya3M9VmxSTCZncm91cD01NDZKNTdHeg
                    </td>
                    <td><img src="https://www.wannacorn.com/static/img/breakwall/ssr-vtk.png" width="130"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>