<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>验证成功</title>
    <style>
        table td {
            word-break: break-all;
        }
        p {
            font-size: large;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <p>目前提供Brook和ShadowSocksR（SSR）两种代理方式，二者在正常网络环境下都可以实现稳定、快速的科学上网。Youtube 1080p流畅无压力。下载启动后填写配置信息即可使用。如果你是telegram用户，
    另外还有一个MTP直连代理节点。</p>
    <h4>Brook下载</h4>
    <hr>
    <ul>
        <li>Windows: <a href="https://github.com/txthinking/brook/releases/download/v20180909/brook_windows_amd64.exe">brook_windows_amd64.exe</a></li>
        <li>Mac OS: <a href="https://github.com/txthinking/brook/releases/download/v20180909/Brook.dmg">Brook.dmg</a></li>
        <li>Andriod: <a href="https://github.com/txthinking/brook/releases/download/v20180909/Brook.apk">Brook.apk</a></li>
        <li>iOS: <a href="https://itunes.apple.com/us/app/brook-brook-shadowsocks-vpn-proxy/id1216002642">App Store</a></li>
    </ul>
    <div>
        <h4>节点列表</h4>
        <hr>
        <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th>节点位置</th>
                <th>brook地址</th>
                <th>端口</th>
                <th>密码</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>美国东部</th>
                <td>us1.wannacorn.ml</td>
                <td>54191</td>
                <td>ApAPaaa</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 class="mt-5">SSR下载</h4>
    <hr>
    <ul>
        <li>Windows: <a href="https://www.wannacorn.com/static/app/ssr/ssr-win.7z">ssr-win.7z</a></li>
        <li>Andriod: <a href="https://www.wannacorn.com/static/app/ssr/ssr-android.apk">ssr-android.apk</a></li>
        <li>IOS: <a href="https://www.wannacorn.com/static/app/ssr/ssr-mac.dmg">ssr-mac.dmg</a></li>
    </ul>
    <div>
        <h4>节点列表</h4>
        <hr>
        <table class="table table-bordered table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>节点位置</th>
                    <th>SSR地址</th>
                    <th>SSR二维码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>日本东京</th>
                    <td class="w-50 text-left">
                        ssr://anAxLndhbm5hY29ybi5tbDo1MjAxMzphdXRoX2NoYWluX2E6bm9uZTpwbGFpbjpkMkZ1Ym1GamIzSnVMbU52YlEvP29iZnNwYXJhbT0mcmVtYXJrcz1WbFJMJmdyb3VwPTU0Nko1N0d6
                    </td>
                    <td><img src="https://www.wannacorn.com/static/img/breakwall/ssr-vtk.png?v=20180927" width="130"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="mt-5">Telegram直连MTP</h4>
    <hr>
    <p>
        <a href="tg://proxy?server=18.216.105.97&port=54169&secret=ddf94b70bba8e860528d214efc87e4079a" target="_blank">
            tg://proxy?server=18.216.105.97&port=54169&secret=ddf94b70bba8e860528d214efc87e4079a</a><br>
        MTProto协议直连，主要在移动端使用，无需开启任何代理。
    </p>
</div>
</body>
</html>