<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h2>找回密码</h2>
    <div>
        <p style="color: red; font-weight: bold" th:text="${session.resultMsg == null ? '' : session.resultMsg}"></p>
        <form th:action="@{/login/findPassNext}" method="post">
            <dl>
                <dt>用户名：</dt>
                <dd>
                    <input name="username" placeholder="请输入用户名" required>
                </dd>
            </dl>
            <button>下一步</button>
        </form>
    </div>
</div>
</body>
</html>