<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        fieldset {
            width: 300px;
            text-align: center;
            position: absolute;
            top: 16rem;
            left: 50.5rem;
        }
        #forgetPass {
            font-size: 0.875em;
            text-decoration-line: none;
        }
        #loginMessage {
            color: red;
            font-weight: bold;
        }
    </style>
    <script>
        //点击登录，按钮失效
        $(function () {
            $('#loginForm').submit(function () {
                $('#loginButton').prop("disabled", true);
            });
        })
    </script>
</head>
<body>
<div layout:fragment="content">
    <fieldset>
        <legend>请登录</legend>
        <form id="loginForm" th:action="@{/loginSub}" method="post">
            <div class="form-group">
                <p id="loginMessage" th:text="${message == null ? '' : message}"></p>
                <input class="form-control" id="username" name="username" placeholder="请输入用户名">
            </div>
            <div class="form-group text-right">
                <input type="password"  class="form-control" id="password" name="password" placeholder="请输入密码">
                <a id="forgetPass" th:href="@{/login/findPass}">忘记密码？</a>
            </div>
            <button class="btn btn-primary btn-block">立即登录</button>
        </form>
    </fieldset>
</div>
</body>
</html>