<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        #registryForm {
            width: 350px;
            margin: auto;
            padding-top: 200px;
        }
        #verifyText {
            display: none;
            color: red;
            font-size: small;
            font-weight: bold;
        }
        #verifyResult {
            display: none;
            font-size: small;
            font-weight: bold;
        }
    </style>
    <script>
        $(function () {
            //异步校验用户名重复
            $('input[name=username]').blur(function () {
                var username = $(this).val();
                if (username != '') {
                    $('#verifyText').show();
                    $.post("/registry/verify", {username:$(this).val()},verifyCallback);
                }
            });
            function verifyCallback(data) {
                if (data == 1) {
                    $('#verifyText').hide();
                    $('#verifyResult').text("✔用户名可用");
                    $('#verifyResult').css("color", "green");
                } else {
                    $('#verifyText').hide();
                    $('#verifyResult').text("✘用户名已存在");
                    $('#verifyResult').css("color", "red");
                }
                $('#verifyResult').show();
            }
        })
    </script>
</head>
<body>
<div layout:fragment="content">
    <div id="registryForm">
        <form th:action="@{/registrySub}" method="post">
            <div class="form-group text-center">
                <h4>请注册</h4>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">用户名</label>
                <div class="col-sm-9">
                    <input class="form-control"  id="username" name="username" minlength="2" required>
                    <span id="verifyText">检测中...</span>
                    <span id="verifyResult"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">密码</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control"  id="password" name="password" minlength="6" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_email" class="col-sm-3 col-form-label">邮箱</label>
                <div class="col-sm-9">
                    <input class="form-control"  type="email" id="user_email" name="user_email" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_phone" class="col-sm-3 col-form-label">手机号</label>
                <div class="col-sm-9">
                    <input class="form-control"  type="number" id="user_phone" name="user_phone" minlength="8" required>
                </div>
            </div>
            <button class="btn btn-primary btn-block">立即注册</button>
        </form>
    </div>
</div>
</body>
</html>