<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册成功！</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4">注册成功！</h1>
        <p class="lead">你可以点击右上角用户名修改和完善你的用户信息。</p>
        <hr class="my-4">
        <p th:text="${'你的专属邀请码：'+user.invest_code}"></p>
        <p class="lead">
            <a class="btn btn-primary" th:href="@{/login}" role="button">去登录>></a>
            <a class="btn btn-primary" th:href="@{/breakwall}" role="button">去翻墙>></a>
        </p>
    </div>
</div>
</body>
</html>