<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        .table-reg input::-webkit-outer-spin-button,
        .table-reg input::-webkit-inner-spin-button{
            -webkit-appearance: none !important;
            margin: 0;
        }
        #verifyText {
            display: none;
            color: red;
            font-size: small;
            font-weight: bold;
        }
        #verifyResult {
            display: none;
            font-size: small;
            font-weight: bold;
        }
    </style>
    <script>
        $(function () {
            //异步校验用户名重复
            $('input[name=username]').blur(function () {
                var username = $(this).val();
                if (username != '') {
                    $('#verifyText').show();
                    $.post("/registry/verify", {username:$(this).val()},verifyCallback);
                }
            });
            function verifyCallback(data) {
                if (data == 1) {
                    $('#verifyText').hide();
                    $('#verifyResult').text("✔用户名可用");
                    $('#verifyResult').css("color", "green");
                } else {
                    $('#verifyText').hide();
                    $('#verifyResult').text("✘用户名已存在");
                    $('#verifyResult').css("color", "red");
                }
                $('#verifyResult').show();
            }
        })
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="ht-1"></div>
    <h2>注册</h2>
    <div>
        <form th:action="@{/registrySub}" method="post">
            <table th:class="table-reg">
                <tr>
                    <td>用户名：</td>
                    <td>
                        <input name="username" minlength="2" required>
                        <span id="verifyText">检测中...</span>
                        <span id="verifyResult"></span>
                    </td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td>
                        <input type="password" name="password" minlength="6" required>
                    </td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td>
                        <input type="email" name="user_email" required>
                    </td>
                </tr>
                <tr>
                    <td>手机号：</td>
                    <td>
                        <input type="number"  name="user_phone" minlength="8" required>
                    </td>
                </tr>
            </table>
            <button>注册</button>
        </form>
    </div>
</div>
</body>
</html>