<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <style>
        table th,
        table td {
            padding-bottom: 1em;
        }

        table tr:last-child > td {
            text-align: right;
        }
    </style>
    <script>
        $(function () {
            $('#updatePassForm').submit(function () {
                var old_password = $('#old_password').val();
                var new_password = $('#new_password').val();
                var renew_password = $('#renew_password').val();
                if (new_password != renew_password) {
                    alert("新密码两次输入不一致！");
                    return false;
                }
                if (old_password == new_password) {
                    alert("新密码不能与原密码一致！");
                    return false;
                }
            });
        })
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="t-space"></div>
    <h2>修改密码</h2>
    <hr>
    <div>
        <form id="updatePassForm" th:action="@{/user/updatePassSub}" method="post">
            <table>
                <tr>
                    <th>原密码：</th>
                    <td>
                        <input type="password" minlength="6" name="old_password" id="old_password" required>
                    </td>
                </tr>
                <tr>
                    <th>新密码：</th>
                    <td>
                        <input type="password" minlength="6" name="new_password" id="new_password" required>
                    </td>
                </tr>
                <tr>
                    <th>确认密码：</th>
                    <td>
                        <input type="password" minlength="6" name="renew_password" id="renew_password" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>提交</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>