<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
        lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <style>
        a,a:hover,a:active {
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="t-space"></div>
    <h2>管理后台</h2>
    <hr>
    <div>
        <ul>
            <li>
                <a href="/adm/article">文章管理</a>
            </li>
        </ul>
    </div>
    <div style="height: 30rem"></div>
</div>
</body>
</html>