<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div layout:fragment="content">
    <h1>首页</h1>
    <div>
        <p>
            <a th:href="@{/login}">登录</a>
        </p>
    </div>
    <div>
        <ul>
            <li>
                <a th:href="@{/pick}">2018世界杯</a>
            </li>
            <li>
                <a th:href="@{/encryp}">我要加密</a>
            </li>
        </ul>
    </div>
    <div style="height: 500px"></div>
</div>
</body>
</html>