<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WorldCup2018</title>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <style>
        body {
            margin-left: 40px;
            margin-right: 40px;
        }
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<div layout:fragment="content"></div>
<footer>
    &copy; 2018 - 2019 WorldCup2018
</footer>
</body>
</html>