<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title th:text="${operateResult.title}"></title>
    <style>
        a,a:hover,a:active {
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="t-space"></div>
    <h2>操作完成</h2>
    <hr>
    <div>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading" th:text="${operateResult.title}">Well done!</h4>
            <p th:text="${operateResult.message}"></p>
            <hr>
            <p class="mb-0">
                <a href="/adm">返回首页</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>