<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>使用帮助</title>
    <style>
        .container {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>使用帮助</h3>
    <h4>Licenese Server方式激活IDEA</h4>
    <hr>
    <p>
        <mark>打开IDEA菜单：Help -&gt; Register -&gt; Licenese Server -&gt; 输入：
            <mark>http://idea.wannacorn.com</mark>
            -&gt; 点击 Aactive即可
        </mark>
        <br></p>
    <img src="http://idea.wannacorn.com/pic/example1.png" alt="例图1">
    <h4>破解补丁激活</h4>
    <hr>
    <p>第一步，下载破解补丁：JetbrainsCrack-2.10-release-enc.jar&nbsp;<a href="/lib/JetbrainsCrack-2.10-release-enc.jar">下载</a><br>第二步，将补丁包放到指定目录下，比如
        D:/JetbrainsCrack-2.10-release-enc.jar<br>第三步，打开IDEA菜单：Help
        -&gt; Edit Custom VM Options... -&gt; 最下方增加：-javaagent:D:/JetbrainsCrack-2.6.2.jar
        <mark><strong>注意开头"-"</strong></mark>
        <br>
        第四步，重启IDEA，输入如下激活码激活(激活码中内容可修改)。
    </p>
    <pre><code>ThisCrackLicenseId-{
"licenseId":"ThisCrackLicenseId",
"licenseeName":"sticker",
"assigneeName":"",
"assigneeEmail":"stickerxu@hotmail.com",
"licenseRestriction":"For Rover12421 Crack, Only Test! Please support genuine!!!",
"checkConcurrentUse":false,
"products":[
{"code":"II","paidUpTo":"2099-12-31"},
{"code":"DM","paidUpTo":"2099-12-31"},
{"code":"AC","paidUpTo":"2099-12-31"},
{"code":"RS0","paidUpTo":"2099-12-31"},
{"code":"WS","paidUpTo":"2099-12-31"},
{"code":"DPN","paidUpTo":"2099-12-31"},
{"code":"RC","paidUpTo":"2099-12-31"},
{"code":"PS","paidUpTo":"2099-12-31"},
{"code":"DC","paidUpTo":"2099-12-31"},
{"code":"RM","paidUpTo":"2099-12-31"},
{"code":"CL","paidUpTo":"2099-12-31"},
{"code":"PC","paidUpTo":"2099-12-31"}
],
"hash":"2911276/0",
"gracePeriodDays":7,
"autoProlongated":false}
</code></pre>
</div>
</body>
</html>