<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldcup.web.mapper.ArticleMapper">
    <select id="listTopTenArticleByType" parameterType="Integer" resultType="Article">
        select id, `type`, title, publish_time from article
        where `type` = #{type} and status = 2
        order by weight desc, id desc
        limit 10
    </select>
    <select id="getArticleById" parameterType="Integer" resultType="Article">
        select * from article
        where id = #{id}
    </select>
    <select id="listArticleByType" parameterType="Integer" resultType="Article">
         select id, title, publish_time from article
         where `type` = #{type} and status = 2
         order by weight desc, id desc
    </select>
    <select id="countArticleByType" parameterType="Article" resultType="Integer">
        select count(*) from article
    </select>
</mapper>